body {
    background-color: #EEF9BF;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    width: 100vw;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 700;
    font-family: 'Roboto';
    line-height: 66px;
    font-size: 56px;
    color: #75B79E;
    text-align: center;
}

.board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.carta {
    width: 117px;
    height: 146px;
    margin: 17px;

    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
}

.cartaFrente,
.cartaVerso {
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.8s;
}

.carta img {
    width: 100px;
    height: 100px;
    margin: 24px 7px 22px 10px;
}

.cartaVerso {
    transform: rotateY(-180deg);
}

.carta.vira .cartaVerso {
    transform: rotateY(0);
}

.carta.vira .cartaFrente {
    transform: rotateY(180deg);
}

/* .desvira {
    transform: rotateY(0deg);
} */